# Logs
logs
*.log
*.DS_Store
cache/*
newrelic_agent.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

tmp/*
test/tmp

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
tests/colorTest.html
